@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo: styles.css o dentro de un <style> global */

.card-container {
  background-color: white;
  border: 1px solid #e5e7eb; /* gray-200 */
  border-radius: 0.5rem; /* rounded-lg */
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.4); /* azul índigo */
  border-color: #6366f1; /* indigo-400 */
  transform: scale(1.05);
}
